DATABASE_URL="postgresql+asyncpg://postgres:postgres_pw@localhost/clashofcode"
DEV_ALLOWED_USERNAMES=<list_of_allowed_usernames>
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,<your_frontend_railway_url>
MAIN_DATABASE_URL=<main_database_url_for_hosted_version>
SECRET_KEY=<your_secret_key>
